@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Monoton&display=swap');
* {
    color: white;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    /* font-family: 'Inter', sans-serif; */
    /* font-family: 'Monoton', cursive; */
}

body {
    height: 100%;
    background-color: #4a5759;
    opacity: 1;
    background-size: 250px 100px;
    background-image: repeating-linear-gradient(to right, #535d5f, #535d5f 2px, #4a5759 2px, #4a5759);
}