@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Monoton&display=swap');
* {
    color: white;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
    scroll-snap-stop: always;
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    /* width of the scroll bar */
    background-color: transparent;
}

 ::-webkit-scrollbar-track {
    background: #f1f1f1;
    /* color of the track */
    background-color: transparent;
}

 ::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

 ::-webkit-scrollbar-thumb:hover {
    background: #f7f7f7;
    /* color of the scroll thumb on hover */
}

.bobo {
    position: relative;
}

.box {
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #b6bebfb7;
    box-shadow: 0px 5px 90px 0px rgba(246, 246, 246, 0.623);
    cursor: pointer;
    z-index: -1;
}

section>div {
    scroll-snap-align: start;
}

:root {
    /* font-family: 'Inter', sans-serif; */
    /* font-family: 'Monoton', cursive; */
}

body {
    height: 100%;
    background-color: seagreen;
    opacity: 1;
    color: black;
}